nav{
    text-align: center;
}
#btn{
    width: 100px;
    height: 30px;
    font-size:large;
    margin-left: 50px;
    background-color: black;
    cursor: pointer;
    color: white;
    border: none;
    align-items: center;
    border-radius: 8px;
}
.container{
    display: flex;
    flex-flow: column wrap;
}

#table2 tbody img{
width: 100px;
height: 90px;
}

table{
    margin: 20px;
    font-size: 20px;
}
table td{
    text-align: center;
}